@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Open+Sans:wght@600;700;800&family=Rubik:wght@800&family=Rufina&family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Open+Sans:wght@600;700;800&family=Rubik:wght@800&family=Rufina&family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: 'transparent';
  font-family: 'Open Sans', sans-serif;
}
 
.main_container {
  position: absolute; 
top: 25%; 
left: 50%; 
margin-top: 1rem; 
margin-right: 1rem; 
height: 3rem; 
}